.Dictionary h1 {
  color: white;
  font-size: 64px;
  font-family: Rubik Doodle Shadow;
  margin-bottom: 30px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}

.Dictionary .title {
  color: white;
  opacity: 90%;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.Dictionary form {
  margin: 0 auto;
  width: 50%;
}

.Dictionary header {
  padding: 50px 0 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./header.jpg);
  background-size: cover;
  background-position: top;
}

.Dictionary i {
  color: white;
}

@media (max-width: 960px) {
  .Dictionary h1 {
    font-size: 48px;
    margin-bottom: 0px;
  }

  .Dictionary header {
    padding: 30px 0 50px;
  }

  .Dictionary form {
    width: 80%;
  }
}
