.Photos {
  margin: 20px auto 0;
  max-width: 900px;
}

.Photos .photos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 960px) {
  .Photos .photos-grid {
    display: block;
  }

  .Photos img {
    margin-bottom: 10px;
    width: 100%;
  }
}
